---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>/submission.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[],"total":0,"pages":0,"pretty_field_id":"28632401"}'
  recorded_at: Fri, 14 Nov 2014 14:42:08 GMT
[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=1&per_page=1&sort=DESC
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"171943139","timestamp":"2014-11-14 10:51:14","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"}],"total":"75","pages":75,"pretty_field_id":"28706107"}'
  recorded_at: Fri, 14 Nov 2014 15:12:36 GMT
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<SUBMISSION_DETAILS_FORM_ID>/submission.json
    body:
      encoding: UTF-8
      string: page=2&per_page=1&sort=DESC
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"submissions":[{"id":"171943131","timestamp":"2014-11-14 10:51:03","user_agent":"","remote_addr":"89.202.154.170","payment_status":"","latitude":null,"longitude":null,"read":"1"}],"total":"75","pages":75,"pretty_field_id":"28706107"}'
  recorded_at: Fri, 14 Nov 2014 15:12:37 GMT
recorded_with: VCR 2.9.3
