---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_ID>/field.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"<EDIT_SUBMISSION_FIELD_ID>","label":"Short Answer","hide_label":"0","description":null,"name":"short_answer","type":"text","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"0","text_size":50},{"id":"28706107","label":"Name","hide_label":"0","description":null,"name":"name","type":"name","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"1","show_initial":0,"show_middle":0,"show_prefix":0,"show_suffix":0,"text_size":20},{"id":"28706112","label":"Long
        Answer","hide_label":"0","description":null,"name":"long_answer","type":"textarea","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"2","rows":10,"cols":50},{"id":"28730178","label":"","hide_label":"0","description":null,"name":"","type":"text","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"3","text_size":50},{"id":"28730202","label":"","hide_label":"0","description":null,"name":"","type":"text","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"4","text_size":50},{"id":"28730218","label":"","hide_label":"0","description":null,"name":"","typ[...]
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/1881378/field.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"28906371","label":"Short Answer","hide_label":"0","description":null,"name":"short_answer","type":"text","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"0","text_size":50}]'
  recorded_at: Mon, 24 Nov 2014 13:05:12 GMT
recorded_with: VCR 2.9.3
