---
http_interactions:
- request:
    method: get
    uri: https://www.formstack.com/api/v2/form/<FORM_FIELDS_ID>/field.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"28906371","label":"Short Answer","hide_label":"0","description":null,"name":"short_answer","type":"text","options":"","default":"","required":"0","uniq":"0","hidden":"0","readonly":"0","colspan":"1","sort":"0","text_size":50}]'
  recorded_at: Mon, 24 Nov 2014 13:17:25 GMT
recorded_with: VCR 2.9.3
